<meta name="google-site-verification" content="jgQqhNOpbi0AvC5QPXMTdrN-PDh3BHmkoWTTEuCmX0c" />
<div style="padding: 20px">
  <input
    placeholder="Enter stock ticker or index"
    class="input-search"
    style="text-transform: uppercase"
    value="VOO"
    #ticker
    type="search"
    (keyup)="onKeyup($event)"
    (search)="onSearch($event)"
  />

  <input
    value="Search"
    type="submit"
    (click)="onFetchPosts(ticker.value)"
    [ngClass]="{
      'button-searchEna': !btnDisabled,
      'button-searchDis': btnDisabled
    }"
    [disabled]="btnDisabled"
  />
</div>

<table class="table">
  <tbody>
    <tr>
      <td><span>Previous Close</span></td>
      <td>{{ stockData?.results[0].c }}</td>
    </tr>
    <tr>
      <td><span>Open</span></td>
      <td>{{ stockData?.results[0].o }}</td>
    </tr>
    <tr>
      <td><span>Day's Range</span></td>
      <td>{{ stockData?.results[0].l + " - " + stockData?.results[0].h }}</td>
    </tr>
    <!-- <tr>
      <td><span>52 Week Range</span></td>
      <td></td>
    </tr> -->
    <tr>
      <td><span>Volume</span></td>
      <td>{{ stockData?.results[0].v | number }}</td>
    </tr>
    <tr>
      <td><span>Volume weighted average price</span></td>
      <td>{{ stockData?.results[0].vw | number }}</td>
    </tr>
  </tbody>
</table>
